.common-table {
  position: relative;
  width:100%;
}

.common-table-button-set {
  color: white;
}
.table {
  width: 100%;
}

td,th {
  vertical-align: middle;
  color: black !important;
  text-align: left;
  border: 2px solid #009CAD;
  padding: 8px 6px;
}
.operate-button {
  min-height: 32px !important;
}
.align-items-center {
  align-items: center;
  -webkit-align-items: center;
}
.justify-content-between {
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.text-white {
  color: white !important;
}
button:hover {
  opacity: .8;
}
