.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.v-hidden {
  visibility: hidden;
}

mat-card {
  background-color: var(--color-blue2);
}

.login-btn {
  color: white !important;
  background: #ffc87b !important;
}
