.home {
  height: calc(100% - 64px - 58px)
}
.page-content {
  padding: 20px 16px;
  width: 100%;
}

@media (min-width:1441px){
  .page-content {
    padding: 20px 20%;
  }
}

@media (max-width:1440px){
  .page-content {
    padding: 20px 15%;
  }
}


@media (max-width:950px){
  .page-content {
    padding: 20px 10%;
  }
}

@media (max-width:756px){
  .page-content {
    padding: 20px 6%;
  }
}
